// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";


.container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	border: 2px solid black;
	box-shadow: #f2f2f2;
}

h1 {
text-align: center;
} 

form {
	background-color: #f2f2f2;
	padding: 2rem;
	margin-bottom: 1rem;
	.form-group {
		margin-bottom: 20px;
	}
	.form-group:last-child {
		margin-bottom: 0;
		padding-top: 20px;
	}
}




